.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.dashboardContainer {
  width: calc(20% - 10px); /* Adjusted width with gap */
  margin-right: 10px; /* Add margin to create space between dashboard and user list */
}

.usersContainer {
  width: calc(80% - 10px); /* Adjusted width with gap */
}

.list {
  width: 80%; /* Set width to 100% */
}
.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(2, 2, 2);
  padding-right: 4rem;
  padding: 20px;
  margin-bottom: 10px;
}

.list_item > * {
  flex: 1;
  word-wrap: break-word;
}

.list_item span {
  width: calc(20% - 20px); /* Adjust the width for each column */
}

.list_item h3 {
  width: calc(16% - 20px); /* Adjust the width for each column */
}

.actions {
  width: calc(15% - 20px); /* Adjust the width for the actions column */
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Change to column layout on smaller screens */
    align-items: center; /* Center items horizontally on smaller screens */
  }

  .dashboardContainer,
  .usersContainer {
    width: 100%; /* Full width on smaller screens */
    margin: 10px 0; /* Add margin to all containers */
  }
}
